*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Blue: hsl(223, 87%, 63%);
    --Pale_Blue: hsl(223, 100%, 88%);
    --Light_Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very_Dark_Blue: hsl(209, 33%, 12%);
}
body{
    font-family: 'Libre Franklin', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;     
    padding: 20px;
}
.logo{
    margin-top: 40px;
}
.logo img{
    width: 80%;
}
.text{
    text-align: center;
    margin-top: 30px;
}
.text h3{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
    color: var(--Gray);
}
.text span{
    font-weight: 700;
    color: black;
}
.text p{
    color: var(--Gray);
    font-size: 13px;
}
.buttons{
    padding: 30px 0;
}
.buttons form{
    display: flex;
    flex-direction: column;
}
.email{
    display: flex;
    flex-direction: column;
}
.email input{
    width: 300px;
    border: 1px solid var(--Pale_Blue);
    color: black;
    border-radius: 60px;
    outline: none;
    padding: 10px;    
}
form input::placeholder{
    color: var(--Pale_Blue);
}
form span{
    display: none;
    color: var(--Light_Red);
    font-size: 10px;
    margin-left: 20px;
    font-style: italic;
}
#button{
    cursor: pointer;
    width: 300px;
    color: white;
    box-shadow: 1px 3px 5px 1px var(--Pale_Blue);
    border: 1px solid var(--Blue);
    background-color: var(--Blue);
    border-radius: 60px;
    font-weight: 600;
    outline: none;
    padding: 10px;
    margin-top: 10px;
}
#button:hover{
    background-color: hsl(223, 100%, 75%);
    border: 1px solid hsl(223, 100%, 75%);
}
.hero-img img{
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.footer_social{
    display: flex;
}
.footer_social a{
    color: var(--Blue);
    text-decoration: none;
    width: 50px;    
}
.fab{
    background-color: white;
    color: var(--Blue);
    border: 1px solid var(--Pale_Blue);
    border-radius: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}    
.fab:hover{
    background-color: var(--Blue);
    color: white;
    border: px solid var(--Blue);
}
.footer p{
    font-size: 13px;
    color: var(--Gray);  
    margin-top: 30px;  
}
@media (min-width: 700px){
    body{
        display: flex;
        justify-content: center;
    }
    .container{
        width: 500px;               
    }
    .text h3{
        font-size: 2.5rem;
    }
    .text p{
        font-size: 20px;
    }
    .buttons form{
        flex-direction: row;
    }
    .email input{        
        margin-right: 20px;
    }
    #button{
        width: 150px;
        text-align: center;
        margin-top: 0;
        height: 40px;
    }
}

